@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    


    body {
        width: 100vw;
        height: 100vh;

        background: rgb(246,241,233);
        background: linear-gradient(140deg, rgba(246,241,233,1) 0%, rgba(247,230,205,1) 100%);
    }
}

